# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage

# Jupyter notebooks
.ipynb_checkpoints/

# VSCode
.vscode/
